<!-- <h2>{{selectedHero.name | uppercase}} Details</h2>
<div>
  <span>Id: </span>
  {{selectedHero.id}}
</div>
<div>
  <span>Name: </span>
  {{selectedHero.name}}
</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
</div> -->

<!-- The list of heroes heroes part  -->
<div class="heroes">
  <h2>My heroes</h2>
  <ul>
    <li *ngFor="let selectedHero of heroes" (click)="onSelect(selectedHero)">
      <span class="badge">{{selectedHero.id}}</span> {{selectedHero.name}}
    </li>
  </ul>
</div>

<!-- Heroes details -->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div >
    <span>id: </span>{{selectedHero.id}}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]='selectedHero.name' placeholder="name">
    </label>
  </div>
</div>
